/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic); */

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* font-family: "Times New Roman", Times, serif; */
    /* color: white; */
}

/* object{
    height: 100%;
} */

body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(cart-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* overflow: auto; */
}

nav{
    /* background-color: rgb(229, 204, 250); */
    height: 100px;
}

.p-book p,.c-book p{
    line-height: 30px;
    margin: 30px 50px;
    color: white;
}

label.site-name{
    color: white;
    font-size: 35px;
    line-height: 70px;
    padding: 0 50px;
    font-weight: bold;
}

ul{
    float: right;
    display: inline-flex;
    padding: 25px;
    margin-right: 20px;
}

.search{
    height: 25px;
    width: 210px;
    /* border: 3px solid rgb(245, 78, 128); */
    border: 3px solid rgb(255, 174, 0);
    border-radius: 50px;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 10px;
}

.search-element{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search-text{
    border: none;
    border-right: none;
    height: 100%;
    width: 91%;
    padding: 0 7px;
    border-radius: 50px;
    font-size: 14px;
}

.search-text:focus{
    outline: none;
}

td a{
    font-size: 15px;
    color: rgb(255, 174, 0);
    margin-right: 5px;
}

ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 20px;
    border-radius: 50px;
}

a.active,a:hover{
    background-color: rgb(255, 174, 0);
    color: white;
    border: white; 
    border-radius: 15px;
    transition: .3s;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    margin-top: 6px;
    border-radius: 5px;
  }

  html, body, .site-content {
    height: 100%;
}

  .site-content{
    margin: 50px;
    color: white;
  }
  
  #current {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    caption-side: top
  }
  
  #current td, #current th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  
  #previous {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    caption-side: top
  }
  
  #previous td, #previous th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .site-content tr:hover{
    background-color: #ddd;
    transition: .2s;
    color: black;
    }
/* 
   .site-content tr td:hover{
        border: 1px solid black;
    } */
  
  #current th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(255, 174, 0);
    color: white;
  }
  
  #previous th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(255, 174, 0);
    color: white;
  }

  .button1 {
    background-color: rgb(255, 174, 0); 
    color: black; 
    
  }
  
  .button1:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 174, 0);
  }
  
  .disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .btn{
    background-color: rgb(255, 174, 0);
    border-radius: 5px;
    font-size: 15px;
    padding: 3px;
  }